@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700i");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid grey; */
}
/* html {
  font-size: 62.5%;
} */
body {
  font-family: "Roboto Mono", monospace;
  /* font-size: 2rem; */
}
/* .portfolio-container {
  width: 100%;
} */

/* navbar */
.nav {
  padding: 2% 0;
  border-bottom: 10px solid black;

  /* z-index: 2;
  position: fixed; */
  /* width: 100%; */
  background-color: grey;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: black;
  flex-wrap: wrap;
  font-size: 1.5rem;
}
.nav-links li a {
  text-decoration: none;
  border: 2px solid black;
  /* padding: 5px 10px; */
  padding: 1.5% 5%;
  color: white;
}
.single-link-home {
  color: white;
  background-color: black;
}

/* end of navbar */

/* banner */
.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1%;
  height: 60vh;
}
.banner_title {
  font-size: 350%;
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
  font-style: italic;
}

.banner_container {
  margin: 5% 0;
  margin-top: 10%;
}

/* .banner_sub {
  border: 5px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 1%;
} */
.banner_sub_new {
  border: 5px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 1%;
  color: black;
  text-decoration: none;
  display: inline-block;
}
/* .myname {
  margin-right: 70%;
} */
/* end of banner */
/* projects */

.projects_center {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}
img {
  /* height: 300px;
  width: 300px; */
  height: 20rem;
  width: 20rem;
}
.center-p {
  text-align: center;
}
/* end of projects */
/* contact */

button {
  margin-left: 50%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 1%;
}

.contact_section {
  background-color: grey;
  /* margin-bottom: 2%; */
}
.contact-text {
  border: 5px solid black;
  margin: 0 auto;
  padding: 1%;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin-left: 45%;
  margin-top: 1%;
  font-size: 1.5rem;
}
/* end of contact */
/* footer */
.footer-links {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  border: 2px solid black;
}
.footer-links a {
  border: 2px solid black;
  text-decoration: none;
  margin: 1%;
  font-size: 1.5rem;
}
/* footer */
